<% provide :title, " - #{@profile.nickname_to_username}" %>

<!-- Page Content -->
<div class="container">
    <div class="profile">
        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
            <h2>
                <%= @profile.nickname_to_username %>さんのユーザーページです。
            </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
            </p>
        </header>

        <hr>

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h3 >投稿したアイデア</h3>
            </div>
        </div>
        <!-- /.row -->

        <!-- Page Features -->
        <div class="row">
            <% @articles.each do |article| %>
              <%= render partial: "my_article", locals: { article: article } %>
            <% end %>
        </div>
        <%= paginate(@articles) %>
    </div>
</div>
