/*共通処理を記述*/

/*navバーにあるロゴの設定*/
.navbar-brand {
  background: image-url("logo.png") no-repeat left center;
  background-size: contain;
  width: 100px;
  margin-left: 0px !important;
}

.avatar{
  width: 32px;
  height: 32px;
  display: table-cell;
  vertical-align: middle;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

.dropdown-toggle{
  padding: 9px 7px 0px 7px !important;
}

/*フラッシュメッセージの設定*/
#fade-out {
  /*スクロールしても位置が固定されたままとにする*/
  position: fixed;
  /*位置を設定*/
  left: 60px;
  /*フラッシュメッセージを浮かせる*/
  z-index: 1;
}

$base: #ec5e5f;
.kaminari {
  // margin: 0 auto;
  margin: 20px auto 40px;
  clear: both;
  text-align: center;
  .page {
    a {
      border: 1px solid $base;
      padding: 3px 5px 3px 8px;
    }
  }
  .prev {
    margin-right: 5px;
  }
  .next {
    margin-left: 5px;
  }
}


/*navバーから間を空ける*/
body {
  padding-top: 70px; /* body padding for fixed top nav */
  background: image-url("back.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#error_explanation{
  color: red;
}

.responsive-overwrite{
    margin: 0 auto;
}

/*フッターの設定*/
footer {
    bottom: 0;
    width: 100%;
    background-color: #d9534f;
    background-size: cover;
  p {
    font-size: 16px;
    line-height: 1.72222;
    margin: 0 0 15px;
    margin-bottom: 0px;
  }
}
