/*アカウント設定 registration#edit 設定*/

  /*body{margin-top:50px;}*/
  .glyphicon { margin-right:10px; }
  .panel-body { padding:0px; }
  .panel-body table tr td { padding-left: 15px }
  .panel-body .table {margin-bottom: 0px; }

/*アカウント設定 registration#edit 終わり*/

/*Signin registration#new 設定*/

  .signin-signup-panel {
  opacity: 0.9;
  margin-top:30px;
  }
  .form-group.last { margin-bottom:0px; }

/*Signin registration#new 終わり*/

.registrations-h1{
  color:  #FFFFFF;
}

.registrations-h2{
  color:  #FFFFFF;
}

.sessions-h1{
  color:  #FFFFFF;
}
.sessions-h2{
  color:  #FFFFFF;
}

.sign-in-up-btn{
  margin-top: 10px;
  width: 100%;
  font-size: 14px !important;
}

.sign-in-up-form_item{
  margin-bottom: 10px
}