.registrations {
  padding-top: 0px;
  .registrations-new {
    .row {
      padding-top: 100px;
    }
    .jumbotron-sign-up {

    // resistrations/newのページ上部の画像
    background: image-url("sign_up_form.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    height: auto;
    margin-bottom: 0 !important;
    padding-bottom: 128px !important;

      .sign-up-home {
        margin-top: 80px;
        margin-bottom: 40px;

        h1 {
          color: #ffffff !important;
          margin-bottom: 40px;
        }

        p {
          margin-bottom: 5px;
          color: #ffffff;
        }
      }
    }

    .sign-up-nav {
      margin-bottom: 0px !important;
    }

    .signup-introduction {
      color: #ffffff;
      background-color: #d9534f;
      background-size: cover;
      // height: 576px;
      height: auto;
      margin-bottom: 0 !important;
      padding-top: 50px;
      padding-bottom: 50px;

     .col-md-6 {
        margin-bottom: 50px;
        .img-responsive {
          margin-bottom: 50px;
        }
      }

    }

    .sign-up-feature {
      height: auto;
      background-color: #ffffff;
      background-size: cover;
      // height: 496px;
      padding-bottom: 84px ;

      .row {
        padding-top: 50px;

        .col-md-4 {
          .text-left {
            margin-bottom: 50px;
          }
        }
      }
    }

    .sign-up-target {
      // height: 496px;
      height: auto;
      background-color : #f7f7f9;
      padding-bottom: 84px ;

      .row {
        padding-top: 50px;

        .col-md-4 {
          .text-left {
            margin-bottom: 50px;
          }
        }
      }
    }

    .jumbotron-get-it-now {

      margin-bottom: 0 !important;
      // height: 678px;
      .col-md-12 {
      padding-top: 185px;
      padding-bottom: 185px;
      }
    }


  }
}

// resistrations/newのページ上部の画像
.jumbotron-get-it-now {
  background: image-url("get_it_now.jpg");
  background-size: cover;
  height: auto;
}


  /*body{margin-top:50px;}*/
  .glyphicon { margin-right:10px; }
  .panel-body { padding:0px; }
  .panel-body table tr td { padding-left: 15px }
  .panel-body .table {margin-bottom: 0px; }

/*アカウント設定 registration#edit 終わり*/

/*Signin registration#new 設定*/

  .signin-signup-panel {
  opacity: 0.9;
  margin-top:30px;
  }
  .form-group.last { margin-bottom:0px; }

/*Signin registration#new 終わり*/

.registrations-h1{
  color:  #FFFFFF;
}

.registrations-h2{
  color:  #FFFFFF;
}

.sessions-h1{
  color:  #FFFFFF;
}
.sessions-h2{
  color:  #FFFFFF;
}

.sign-in-up-btn{
  margin-top: 10px;
  width: 100%;
  font-size: 14px !important;
}

.sign-in-up-form_item{
  margin-bottom: 10px
}

.sign_up_logo {
  width: 300px;
  small {
    margin-left: 85px;
  }
}

.registrations-edit {
  padding-top: 70px;
}
