// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profile{
  background-color: #FAFAFA;
  padding: 20px;
  /*透明度*/
  opacity: 0.9;
}

.avator-original{
  width: 100px;
  height: 100px;
}