// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profile{
  background-color: #FAFAFA;
  padding: 20px;
  /*透明度*/
  opacity: 0.9;
}

.profile_avatar {
  width: 75px;
  height: 75px;
  border-radius: 7px;
}